.hire-img img {
    margin-right: auto;
    width: 50%;
}

.text {
    text-align: center;
    color: white;
}

.candidate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .candidate {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width:768px) {
    .candidate {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}