.feedback-text {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.caption {
    color: white;
}

.member {
    width: 10%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images {
    margin-left: 200px;
}